.form-group
  %label{ for: 'name' } Name
  = f.text_field :name, class: 'form-control input-lg', id: 'name'
.form-group
  %label{ for: 'addr_housenumber' } Housenumber
  .help-block.pull-right e.g., '123' or '10 West'
  = f.text_field :addr_housenumber, class: 'form-control input-lg', id: 'addr_housenumber'
.form-group
  %label{ for: 'addr_street' } Cross Street
  .help-block.pull-right e.g., 'At 5th Ave.' or '11th Street'
  = f.text_field :addr_street, class: 'form-control input-lg', id: 'addr_street'
.form-group
  %label{ for: 'addr_city' } City
  = f.text_field :addr_city, class: 'form-control input-lg', id: 'addr_city'
.form-group
  %label{ for: 'addr_postcode' } Postcode
  = f.text_field :addr_postcode, class: 'form-control input-lg', id: 'addr_postcode'
.form-group
  %label{ for: 'phone' } Phone
  = f.text_field :phone, class: 'form-control input-lg', id: 'phone'
.form-group
  %label{ for: 'website' } Website
  = f.text_field :website, class: 'form-control input-lg', id: 'website'
