%div.add-places
  %h1 Add a new Place
%div.pick-category
  %span.label.label-info.pull-left Step 3 
  %h2 Add Info
%ol.breadcrumb
  - if @category.parent
    %li= @category.parent.name
  %li= @category.name
= form_for @poi, url: { action: "create" }, html: { role: 'form' } do |f|
  .form-group
    %label{ for: 'name' } Name
    = f.text_field :name, class: 'form-control input-lg', id: 'name'
  .form-group
    %label{ for: 'addr_housenumber' } House Number
    .help-block.pull-right e.g., '123' or '10 A'
    = f.text_field :addr_housenumber, class: 'form-control input-lg', id: 'addr_housenumber'
  .form-group
    %label{ for: 'addr_housenumber' } Street Name
    .help-block.pull-right e.g., 'Main Street' or '5th Avenue'
    = f.text_field :addr_street, class: 'form-control input-lg', id: 'addr_street'
  .form-group
    %label{ for: 'addr_city' } City
    = f.text_field :addr_city, class: 'form-control input-lg', id: 'addr_city'
  .form-group
    %label{ for: 'addr_postcode' } Postcode
    = f.text_field :addr_postcode, class: 'form-control input-lg', id: 'addr_postcode'
  .form-group
    %label{ for: 'phone' } Phone
    = f.text_field :phone, class: 'form-control input-lg', id: 'phone'
  .form-group
    %label{ for: 'website' } Website
    = f.text_field :website, class: 'form-control input-lg', id: 'website'
  = f.hidden_field :lat
  = f.hidden_field :lon
  = f.hidden_field :category_id, :value=>@category.id
  - if current_user
    %button.btn.btn-warning.btn-lg.btn-block Create POI
  %button.btn.btn-lg.btn-block.btn-link{ type: 'cancel' } Cancel
