%ol.breadcrumb
  - if @category.parent
    %li= @category.parent.name
  %li= @category.name
= form_for @poi, url: { action: "create", category_id: params[:category_id] }, html: { role: 'form' } do |f|
  .form-group
    %label{ for: 'name' } Name
    = f.text_field :name, class: 'form-control input-lg', id: 'name'
  .form-group
    %label{ for: 'addr_housenumber' } Housenumber
    = f.text_field :addr_housenumber, class: 'form-control input-lg', id: 'addr_housenumber'
    %label{ for: 'addr_street' } Street
    = f.text_field :addr_street, class: 'form-control input-lg', id: 'addr_street'
  .form-group
    %label{ for: 'phone' } Phone
    = f.text_field :phone, class: 'form-control input-lg', id: 'phone'
  .form-group
    %label{ for: 'website' } Website
    = f.text_field :website, class: 'form-control input-lg', id: 'website'
  = f.hidden_field :lat
  = f.hidden_field :lon
  %button.btn.btn-primary.btn-lg.btn-block Submit
