.add-places
  %div.modal-header
    %h1.modal-title#poi-results-label
      = @poi.name
      %span.pull-right.list-group-item
        = image_tag('edit_poi.png')
        %a= link_to 'Edit', edit_poi_url(@poi)
  %div.poi-info
  - if @poi.display_category
    %p==Category: #{@poi.display_category.parent.name} | #{@poi.display_category.name}
    %p== Address: #{@poi.addr_housenumber} #{@poi.addr_street}
    %p== City: #{@poi.addr_city}
    %p== Postcode: #{@poi.addr_postcode}
    %p== Phone: #{@poi.phone}
    %p== Website: #{@poi.website}
  #poi-map
  %script
    var map = L.mapbox.map('poi-map', 'randyme.h29f04e6', { center:[#{@poi.lat}, #{@poi.lon}], zoom: 19});
    var marker = L.marker([#{@poi.lat}, #{@poi.lon}], { color: '#000' });
    marker.addTo(map);


