!!!
%html{ :lang=>'en', :'ng-app'=>'ng-app' }
  %head
    %title POI Pond
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = javascript_include_tag params[:controller]
    %link{ :href=>'//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css', :rel=>'stylesheet' }
    %script{ :src=>'//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.js' }
    = csrf_meta_tag
    %meta{ :charset=>'utf-8' }
    %meta{ :name=>'viewport', :content=>'width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no' }
    %meta{ :name=>'mobile-web-app-capable', :content=>'yes' }
    %link{ :rel=>'shortcut icon', :sizes=>'196x196', :href=>'/assets/icon_196.png' }
    %link{ :rel=>'shortcut icon', :sizes=>'128x128', :href=>'/assets/icon_128.png' }
    %link{ :rel=>'apple-touch-icon', :href=>'/assets/icon_60.png' }
    %link{ :rel=>'apple-touch-icon', :sizes=>'76x76', :href=>'/assets/icon_76.png' }
    %link{ :rel=>'apple-touch-icon', :sizes=>'120x120', :href=>'/assets/icon_120.png' }
    %link{ :rel=>'apple-touch-icon', :sizes=>'152x152', :href=>'/assets/icon_152.png' }
  %body
    #map
    %nav.navbar.navbar-default.navbar-fixed_top{ :role=>'navigation' }
      %div.navbar-header
        %button.navbar-toggle{ :type=>'button', :'data-toggle'=>'collapse', :'data-target'=>'#navcoll' }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{ :href=>'/' } POI Pond
      %div.collapse.navbar-collapse#navcoll
        %ul.nav.navbar-nav
          %li.active
            %a{ :href=>'#' } Link
          %li
            %a{ :href=>'#' }Link
        - if current_user
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{ :href=> logout_url } Log out
    .container
      = yield
    %nav.navbar.navbar-default.navbar-fixed-bottom{ :role=>'navigation' }
      .text-center
        - if !current_user && (params[:controller]!='users' && (params[:action]!='create' || params[:action]!='new'))
          %a.btn.btn-primary.btn-lg.navbar-btn{ href: '/auth/osm', type: 'button' } Login with OSM
        - elsif current_user && params[:controller]=='home'
          %a.btn.btn-primary.btn-lg.navbar-btn#check-in{ :href=>'#', :'data-toggle'=>'modal', :'data-target'=>'#poi-results', :onclick=>'checkIn()' }
            %span.glyphicon.glyphicon-map-marker
    %div.modal.fade#poi-results{ :tabindex=>'-1', :role=>'dialog', :'aria-labelledby'=>'poi-results-label', :'aria-hidden'=>'true' }
      %div.modal-dialog
        %div.modal-content
          %div.modal-header
            %button.close{ :type=>'button', :'data-dismiss'=>'modal', :'aria-hidden'=>'true' } &times;
            %h4.modal-title#poi-results-label
              Nearby POIs
          %div.modal-body
            %p.text-center
              Not here?
              %strong
                %a{ :href=>'/pois/new' } Add a new POI
            %ul.list-group#poi-results-list
          %div.modal-footer POIs &copy; OpenStreetMap contributors (that's you)
