!!!
%html{ :lang=>'en' }
  %head
    %title POI Pond
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = javascript_include_tag params[:controller].to_sym
    %link{ :rel=>'stylesheet', :href=>'https://mapzen.com/js/mapzen.css'}
    %script{ :src=>'https://mapzen.com/js/mapzen.js' }
    %script{ :src=>'https://mapzen.com/js/mapzen.min.js' }
    = csrf_meta_tag
    %meta{ :charset=>'utf-8' }
    %meta{ :name=>'viewport', :content=>'width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no' }
    %meta{ :name=>'mobile-web-app-capable', :content=>'yes' }
    %link{ :rel=>'shortcut icon', :sizes=>'196x196', :href=>'icon_196.png' }
    %link{ :rel=>'shortcut icon', :sizes=>'128x128', :href=>'icon_128.png' }
    %link{ :rel=>'apple-touch-icon', :href=>'icon_60.png' }
    %link{ :rel=>'apple-touch-icon', :sizes=>'76x76', :href=>'icon_76.png' }
    %link{ :rel=>'apple-touch-icon', :sizes=>'120x120', :href=>'icon_120.png' }
    %link{ :rel=>'apple-touch-icon', :sizes=>'152x152', :href=>'icon_152.png' }
  %body
    #map
    %nav.navbar.navbar-default.navbar-fixed_top{ :role=>'navigation' }
      %div.navbar-header
        - if current_user
          %button.navbar-toggle{ :type=>'button', :'data-toggle'=>'collapse', :'data-target'=>'#navcoll' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %a.navbar-brand{ :href=>'/' }
          = image_tag('logo.png')
      %div.collapse.navbar-collapse#navcoll
        - if current_user
          %ul.nav.navbar-nav.navbar-right
            %li= link_to current_user.display_name, user_url(current_user.display_name)
            %li= link_to 'My POIs', user_pois_url(current_user.display_name)
            %li= link_to 'Log out', logout_url
    .container
      = yield
